<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MyBlog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/blog/create">Create</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if login}}
                    <li><a href="/user/logout">Logout</a></li>
                {{else}}
                    <li><a href="/user/login">Login <span class="sr-only">(current)</span></a></li>
                    <li><a href="/user/signup">Signup</a></li>
                {{/if}}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>