<div class="gutter"></div>
<div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 bg-white round-edge">
    <div id="start-wrapper" class="p20" style="padding: 15px 20px">
        <div class="w-100">
            <div class="wf-100 text-center">
                <h3>Add a blog</h3>
                <p style="font-size: 11px;line-height:1">Upload an image, add details and and you are done!</p>
            </div>
            <div class="col-xs-12 errors text-center form-error" id="error"></div>
            <div class="col-xs-12 errors text-center form-success" id="success"></div>
            <form id="start_post" action="/blog/create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="imageInput">Upload Image</label>
                    <input type="file" accept="image/*" name = "images" class="form-control-file" id="imageInput" aria-describedby="imageHelp" multiple>
                    <output id="list"></output>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                <div class="row text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        document.getElementById('imageInput').addEventListener('change', handleFileSelect, false);
    };
</script>