{{# if post.cover}}
<section>
    <div class="banner-img" style="background-image: url('{{post.cover.url}}')">
        <div class="layer">
        </div>
    </div>
</section>
{{/if}}
<div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
    <div class="row post-detail-page text-center info-block">
        {{#if issuccess}}
            <div class="alert alert-success">
                {{#each messages }}
                    <p>{{this}} </p>
                {{/each}}
            </div>
        {{/if}}
        <div class="caption">
            <h1>{{post.title}}</h1>
        </div>
        <div class="more-details text-center">
            <div class="likes in-block fleft"><span id="like-count">{{post.likes}}</span> likes</div> <b>.</b>
            <a class="like-btn btn btn-info in-block fleft {{# if post.isliked}}
                    liked
                {{/if}}" data-id="{{post._id}}" data-count="{{post.likes}}" role="button">
                {{# if post.isliked}}
                    Liked
                {{else}}
                    Like
                {{/if}}
            </a>
        </div>
        <div class="gutter"></div>
    </div>
</div>
<div class="col-sm-12 col-md-12 ">
    <div class="row post-detail-page text-center">
        <div class="grid hid {{post.customclass}}" id="blog-image-grid" >
            <div class="grid-sizer"></div>
            {{#each post.images}}
                <div class="grid-item {{#if ../post.hasoneimages}}
                                 rel mauto
                                {{/if}}">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{this.url}}" data-width="{{this.width}}" data-height="{{this.height}}"/>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12">
    <div class="row post-detail-page text-center bg-white round-edge">
        <div class="gutter"></div>
        <div class="text-center">
            <div class="username in-block">By <i><b>{{post.username}}</b></i></div>
            <div class="gutter"></div>
            <p class="content">
                {{post.content}}
            </p>
        </div>
        <div class="gutter"></div>
    </div>
</div>