<div class="row text-center">
    <h3>Latest blogs for you</h3>
</div>
<div class="row blog-wrapper">
    <div class="grid hid" id="blog-grid">
        <div class="grid-sizer"></div>
        {{#each posts}}
        <div class="grid-item">
            <div class="thumbnail">
                <a href="/blog/{{this.slug}}" >
                    <div class="img-wrap rel">
                        <img data-width = "{{this.images.[0].width}}" data-height="{{this.images.[0].height}}" class="img-responsive" src="{{this.images.[0].url}}" alt="{{this.title}}">
                        <div class="abs img-alt text-center text-bold"><span id="like-count">{{this.likes}}</span> likes</div>
                    </div>
                </a>
                <div class="caption">
                    <a class="primary-details-link" href="/blog/{{this.slug}}" >
                        <div class="primary-details">
                            <h3>{{this.title}}</h3>
                            <p class="description">{{this.content}}</p>
                        </div>
                    </a>
                    <div class="clearfix more-details">
                        <div class="username pull-left">{{this.username}}</div>
                        <a href="javascript:void(0);" data-id="{{this._id}}" data-count="{{this.likes}}" class="btn
                            {{#if this.isliked}}
                                liked
                            {{/if}}
                         like-btn btn-info pull-right" role="button">
                            {{#if this.isliked}}
                                Liked
                            {{else}}
                                Like
                            {{/if}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!--<div class="grid-item grid-item--width2">

        </div>-->
    </div>
</div>