<div class="row signin-row">
    <div class="col-md-4 col-md-offset-4 signin-popover">
        <h2>Sign In</h2><br>
        {{#if iserror}}
            <div class="alert alert-danger">
                {{#each messages }}
                    <p>{{this}} </p>
                {{/each}}
            </div>
        {{/if}}
        <form method="post" action="/user/login">
            <div class="form-group">
                <label for="email" >Email</label>
                <input type="text" id="email" name="email" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" id="password" name="password" class="form-control"/>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        </form>
    </div>
</div>