<div class="row signup-row">
    <div class="col-md-4 col-md-offset-4 signup-popover">
        <h2>SignUp</h2><br>
        {{#if iserror}}
            <div class="alert alert-danger">
                {{#each messages }}
                    <p>{{this}} </p>
                {{/each}}
            </div>
        {{/if}}
        <form method="post" action="/user/signup">
            <div class="form-group">
                <label for="name" >Name</label>
                <input type="text" id="name" name="name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="email" >Email</label>
                <input type="text" id="email" name="email" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" id="password" name="password" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="c_password" >Confirm Password</label>
                <input type="password" id="c_password" name="confirm_password" class="form-control"/>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        </form>
    </div>
</div>