body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}
.bg-white{
    background-color: white;
}
.round-edge{
    border-radius: 10px;
}
nav.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    margin-bottom: 0 !important;
}
.navbar-default .navbar-nav>.active>a{
    background-color: #ededed;
}
.gutter{
    height: 2.2em;
}
.rel{
    position: relative !important;
}
.img-alt{
    bottom: 0;
    height: 20px;
    width: 100%;
    background: white;
    opacity: 0.7;
    overflow: hidden;
    color : darkgreen;
    font-weight: bold;
}
.form-error{
    color: red;
    font-style: italic;
}
.form-success{
    color: darkgreen;
    font-style: italic;
}
p.content{
    padding: 0 15px;
}
.hid{
    visibility: hidden !important;
    opacity: 0 !important;
}
.mauto{
    margin: auto;
}
.in-block{
    display: inline-block;
}
.abs {
    position: absolute;
}
/* media */
@media screen and (max-width: 768px) and (min-width: 500px) {
    /* 5 columns for larger screens */
    .grid-sizer { width: 50% !important; }
}
@media screen and (max-width: 499px) {
    /* 5 columns for larger screens */
    .grid-sizer { width: 100% !important; }
}
@media screen and (max-width: 768px) and (min-width: 500px) {
    /* 5 columns for larger screens */
    .grid-item { width: 50% !important; }
}
@media screen and (max-width: 499px) {
    /* 5 columns for larger screens */
    .grid-item { width: 100% !important; }
}
@media all and (max-width: 600px) {
    .post-detail-page{
        width: 100% !important;
    }

}
/* media */
.banner-img{
    height: 450px;
    background-size: cover;
    background: aliceblue url(https://undsgn-firmadamianobedu.netdna-ssl.com/uncode/wp-content/uploads/2015/07/photo-1439508472515-4899b144f04d-modified-uai-1440x810.jpg) center;
}
section{
    position: relative;
    margin-top: -18px;
}
.layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-header{
  margin: auto;
  position: relative;
  text-align: center;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  color: white;
  text-shadow: 2px 1px 4px #000000;
}
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.signup-popover,.signin-popover{
    z-index: 1;
    background-color: white;
    border-radius: 14px;
    padding: 17px;
    /*text-align: center;*/
}
.row.signin-row,.row.signup-row{
    margin-top: 90px;
}
.signup-popover h2,.signin-popover h2{
    text-align: center;
}
.row.blog-wrapper{
    margin: 20px 0 0;
}
#start-wrapper #content{
    height: 400px;
}
.grid{
    opacity: 1;
    transition:  visibility 2s ease-in, opacity 2s ease-in;
    -webkit-transition:  visibility 2s ease-in, opacity 2s ease-in;
    -moz-transition:  visibility 2s ease-in, opacity 2s ease-in;
    -o-transition:  visibility 2s ease-in, opacity 2s ease-in;
    -ms-transition:  visibility 2s ease-in, opacity 2s ease-in;
}
.grid-sizer{
    width: 25%;
}
.grid-item {
    padding: 0 15px;
    width: 25%;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
.img-wrap{
    width: 100%;
}
.thumbnail{
    width: 100%;
    padding-bottom: 0;
    box-shadow: 3px 3px 20px grey;
    overflow: hidden ;
}
.thumbnail:hover{
    box-shadow: 3px 3px 20px black;
}
.thumbnail img{
    min-height: 100px;
    -o-transition: transform 1s ease-in;
    -moz-transition: transform 1s ease-in;
    transition: transform 1s ease-in;
    -webkit-transition: transform 1s ease-in;
    -ms-transition: transform 1s ease-in;
}
.thumbnail img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.thumbnail .img-wrap{
    top : 0;
    overflow: hidden;
    bottom : 0;
    left: 0;
    right : 0;
}
.like-btn,.like-btn.liked:hover{
    background-color: white !important;
    color: #00B7FF !important;;
}
.like-btn.liked, .like-btn:hover{
        background-color: #00B7FF !important;;
    color: white !important;;
}
.thumbnail .like-btn, .thumbnail .like-btn.liked:hover{
    height: 30px;
    font-size: 13px;
}
.thumbnail .username{
    margin-top: 5px;
}
.thumbnail .caption{
    padding: 7px !important;
}
.thumbnail a.primary-details-link{
    text-decoration: none;
}
.thumbnail .primary-details h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: black !important;
}
.thumbnail .primary-details .description{
    font-size: 12px;
    color: black;
}
.thumbnail .more-details{
    border-top: 1px solid #e6e6e6;
    padding-top: 7px;
}
.post-detail-page:not(.info-block){
    width: 80%;
    margin: auto auto 10px;
}
.post-detail-page p{
    /*-webkit-column-count: 3; !* Chrome, Safari, Opera *!
    -moz-column-count: 3; !* Firefox *!
    column-count: 3;*/
}
.post-detail-page .like-btn{
    padding: 0 8px;
    font-size: 10px;
    height: 15px !important;
}
.post-detail-page .grid-sizer{
    width: 25% !important;
}
.post-detail-page .grid-item{
    padding: 5px;
    width: 25%;
}
.post-detail-page .grid.grid-size-2 .grid-sizer2{
    width: 50%;
}
.post-detail-page  .grid.grid-size-2 .grid-item{
    width: 50%;
}
.post-detail-page .grid.grid-size-3 .grid-sizer2{
    width: 33.333%;
}
.post-detail-page .grid.grid-size-3 .grid-item{
    width: 33.333%;
}
.post-detail-page .grid .thumbnail{
    margin-bottom: 0;
    min-height: 110px;
}
.post-detail-page .thumbnail{
    width: 100%;
}
.post-detail-page .thumbnail img{
    width: 100%;
}